.asidebarmenu ul{
padding: 0;
margin-top:0px;
list-style-type: none;
font:  16px Bold;
 /* Main Menu Item widths */
border-bottom: 0px solid #ccc;
}
 
.asidebarmenu ul li{
position:relative;
}

/* Top level menu links style */
.asidebarmenu ul li a{
display: block;
overflow: auto; /*force hasLayout in IE7 */
color: black;
text-decoration: none;
padding:10px;
padding-left:20px;
}

.asidebarmenu ul li a:link, .asidebarmenu ul li a:visited{
background-color: #f3f3f3;
color: #636363;/*background of tabs (default state)*/
}
.asidebarmenu ul li a:active{
   background-color:#e7e7e7;
   }
.asidebarmenu ul li a:visited{
color: #636363;
}

.asidebarmenu ul li a:hover{
background-color:black;
color:white;
}

/*Sub level menu items */
.asidebarmenu ul li ul{
position: absolute;
width: 170px; /*Sub Menu Items width */
top: 0;
visibility: hidden;
}

.asidebarmenu a.subfolderstyle{
background: url(right.gif) no-repeat 97% 50%;
}

#h{
background-color:#aaaaaa;
color:white;
font:20px bold sans-serif;
padding:8px;

}
